body{
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
    
}

.container {
    align-items: center;
    margin: 8px;
    display: flex;
    width: 100%;
    max-width: 1120px;
}

.container .row{
    width: 100%;
  
    background: #cacaca;
    box-shadow: 0 0 100px rgba(0, 0,0, 0.1);
    border-radius: 8px;

    display: flex;
   
    
}


.container h1{
    text-align: initial;
}

ul {
   font-size: x-large;
   list-style: none;
   text-align: center;
}